<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookingsystem.mapper.AnnMapper">
    <insert id="save">
        insert into announcements(title,content,publisher_id,priority,status,type,start_time,end_time,view_count,created_at,updated_at)
        values(#{title},#{content},#{publisherId},#{priority},#{status},#{type},#{startTime},#{endTime},#{viewCount},#{createdAt},#{updatedAt})
    </insert>
    <update id="update">
        update announcements
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from announcements where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.bookingsystem.vo.AnnQueryVo">
        select id,title,content,publisher_id,priority,status,type,start_time,end_time,view_count,created_at,updated_at from announcements
        <where>
            <if test="title != null and title != ''">
                and title like CONCAT('%', #{title}, '%')
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                and (title like CONCAT('%', #{keyword}, '%') or content like CONCAT('%', #{keyword}, '%'))
            </if>

        </where>
        ORDER BY start_time DESC
    </select>
</mapper>