<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookingsystem.mapper.OperationLogMapper">

    <!-- 插入日志 -->
    <insert id="insert" parameterType="com.bookingsystem.pojo.OperationLog">
        INSERT INTO operation_logs (
            username, operation_module, operation_type, operation_desc,
            request_url, request_method, request_ip, request_param,
            response_result, status, error_msg, created_at
        ) VALUES (
                     #{username}, #{operationModule}, #{operationType}, #{operationDesc},
                     #{requestUrl}, #{requestMethod}, #{requestIp}, #{requestParam},
                     #{responseResult}, #{status}, #{errorMsg}, #{createdAt}
                 )
    </insert>

    <!-- 根据id查询日志 -->
    <select id="selectById" resultType="com.bookingsystem.pojo.OperationLog">
        SELECT
            id, username, operation_module, operation_type, operation_desc,
            request_url, request_method, request_ip, request_param,
            response_result, status, error_msg, created_at
        FROM operation_logs
        WHERE id = #{id}
    </select>

    <!-- 分页查询日志（可带条件） -->
    <select id="list" resultType="com.bookingsystem.pojo.OperationLog">
        SELECT
        id, username, operation_module, operation_type, operation_desc,
        request_url, request_method, request_ip, request_param,
        response_result, status, error_msg, created_at
        FROM operation_logs
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="operationModule != null and operationModule != ''">
                AND operation_module LIKE CONCAT('%', #{operationModule}, '%')
            </if>
            <if test="operationType != null and operationType != ''">
                AND operation_type like concat ('%', #{operationType}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="startTime != null">
                AND created_at &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND created_at &lt;= #{endTime}
            </if>

        </where>
        ORDER BY created_at DESC
    </select>

    <!-- 删除日志 -->
    <delete id="deleteById">
        DELETE FROM operation_logs WHERE id = #{id}
    </delete>

    <!-- 批量删除日志 -->
    <delete id="deleteBatch">
        DELETE FROM operation_logs
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
