<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookingsystem.mapper.RoomMaintenanceMapper">
    <delete id="deleteBatch">
        DELETE FROM room_maintenance
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.bookingsystem.pojo.RoomMaintenance">
        SELECT rm.*,r.name as roomName FROM room_maintenance rm left join rooms r on rm.room_id = r.id
        <where>
            <if test="roomId != null">
                AND rm.room_id = #{roomId}
            </if>
            <if test="status != null and status != ''">
                AND rm.status = #{status}
            </if>
            <if test="maintenanceType != null and maintenanceType != ''">
                AND rm.maintenance_type = #{maintenanceType}
            </if>
            <if test="startTime != null">
                AND rm.start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND rm.end_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY rm.start_time DESC
    </select>

    <insert id="insert">
        INSERT INTO room_maintenance (room_id, start_time, end_time, reason, maintenance_type, status, created_at, updated_at)
        VALUES (#{roomId}, #{startTime}, #{endTime}, #{reason}, #{maintenanceType}, #{status}, now(), now())
    </insert>

    <update id="updateStatus">
        UPDATE room_maintenance SET status = #{status}, updated_at = now() WHERE room_id = #{id}
    </update>

    <select id="selectAll" resultType="com.bookingsystem.pojo.RoomMaintenance">
        SELECT * FROM room_maintenance
    </select>
</mapper>